@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --blue-color: #159acb;
    --white-color: white;
    --almost-white-color: whitesmoke;
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

/* sidebar */
.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: var(--blue-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar>* {
    margin-bottom: 50px;
}

.dashboard-icon, .sections-container>div, .branding-container>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dashboard-icon {
    font-size: 2rem;
    font-weight: bold;
}

.sections-container, .branding-container {
    font-size: 1.5rem;
    font-weight: bold;
}

/* header */
.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--white-color);
    padding: 20px;
    font-weight: bold;
}

.upper-header {
    display: flex;
}

#alert-icon {
    margin-left: auto;   
}

.lower-header {
    display: flex;
}

/* main sections */
.main-content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--almost-white-color);
}

.projects {
    grid-column: 1;
    grid-row: 1 / 3;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
}

.trending {
    grid-column: 2;
    grid-row: 2;
}